<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="cms">
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input placeholder="Select an image" type="file" class="form-control" id="post-image">
                <br />
                <label for="body">Caption:</label>
                <textarea placeholder="Write a caption for your image!" class="form-control" rows="10" id="caption"></textarea>
                
                
                <br />
                <button type="submit" class="btn btn-success submit" id="add-btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/post.js"></script>