form.signup,
form.login {
  margin-top: 50px;
}

.nav-bar {
  height: 70px;
}

body {background-color:#eee;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;}
body {background-color:#eee;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;;}

/* Comment area styling */
.comment-text {
  width: 100%;
  background-color:#eee;
  resize: none;
  padding: 1%;
}

.add-comment {
  width: 21%;
  font-size: .75em;
  margin-bottom: 1%;
  float: right;
}

.comment {
  padding: 0 2% 0 2%;
  background-color: rgba(189, 188, 188, 0.336);
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;

}

.commenter {
  font-weight: bold;
  font-size: 1em;
}

/*container*/

/*columns styling*/
* {
    box-sizing: border-box;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  